<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253159433230-fi64daeji4c2bepisb7u5c0l6fdc518l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253159433230-fi64daeji4c2bepisb7u5c0l6fdc518l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>253159433230-3b3ijhmsnpg05atnb1mmtpshld80q0n0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9TZJHoPE3xkgBSDZJtfkn_me1yQlWiec</string>
	<key>GCM_SENDER_ID</key>
	<string>253159433230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adhicine</string>
	<key>PROJECT_ID</key>
	<string>adhicine-a065d</string>
	<key>STORAGE_BUCKET</key>
	<string>adhicine-a065d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253159433230:ios:72e8254b6e5882dad9085f</string>
</dict>
</plist>